body {
    height: 100vh;
    width: fit-content;
    margin: 0 auto;
}


.card__container{
    max-width: 250px;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.544);
    margin: 10px;

}
.img{
    width: 100%;
    background-color: aquamarine;
    height: 400px;
    z-index: -1;
    
}
.info{
    position: absolute;
    z-index: 12;
    max-width: 250px;
    height: 350px;
    background-color: rgba(28, 25, 34, 0.587);
   top: 265px;
    padding: 24px 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
    transition: 0.2s ease-in;
    border-top: 1px solid;
    width: 100%;


}
.info h3{
    font-weight: 600;
    margin: 20px 0;
}
.info p{
    margin: 15px 0;
}
.card__container:hover .info{
    top: 30px;
}